.App {
  text-align: center;
}

.emoji-input {
  padding: 1rem;
  width: 80%
}

.meaning {
  font-size: larger;
  font-weight: bold;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1px;
  padding: 2rem;
  width: 100%;
}

.wrapper span {
  font-size:35px;
}


